
main{
    background-color: black;
    }


header{
    background-color:black;
    
}
p{
    display:inline;
    font-size:x-large;

}
#nav{
text-align:center;

}
a{
    text-decoration: none;
    color: white;
    
}
#cars{
    width: 400px;
    height: 250px;
    position: relative;
    left: 450px;
}
main{
    background-color: #201F25;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    margin:0px ;
    padding:3%;
    color: white;
    font-size: 200%;
    text-decoration: underline;
}
#first{
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}
img{
    width: 1000px;
    position: relative;
    left: 60px;
    margin-top: 50px;
}